.productCard {
  /* display: block;
  font-size: 16px;
  text-decoration: none;
  -ms-flex: 1 auto;
  flex: 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px; */
  color: #7f187f;
  /* width: min-content; */
  flex-grow: 1;
  margin: 3px 3px;
  position: relative;
  border: 1px solid white;
  /* width: 20px; */
  border-radius: 8px;
  min-width: 15em;
  max-width: 11em;
}

.productCard:hover {
  box-shadow: -1px 1px 5px 0px #76709a;
}

.productImageContainer {
  /* padding: 0;
  padding: 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  margin: -8px;
  padding: 8px;
  position: relative;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  text-decoration: none;
  -ms-flex: 1 auto;
  flex: 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 8px; */
}

.productImage {
  /* position: relative;
  padding-bottom: 100%; */
}

.imageContainer {
  /* box-sizing: border-box; */
}

.image {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%; */
  height: 300px;
  min-width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
  /* border-radius: 8px; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.favButtonContainer {
  /* top: 8px;
  right: 8px;
  box-sizing: border-box;
  position: absolute; */
}

.productInfo {
  /* display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  white-space: normal;
  margin-top: 16px;
  padding: 0 4px;
  display: block;
  font-size: 0;
  display: -ms-flexbox;
  display: flex; */

}


.favButton {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.productTitle {
  color: #221924;
  font-weight: 400;
  font-size: 16px;
  transition: color .15s ease-out;
  margin-top: 15px;
  margin-bottom: 10px;
}

.productPrice {
  color: #c4113f;
  font-size: 1.5625rem;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 1.2;
}

.productReviews {}